<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a href="#" class="navbar-brand">Mood<b>ify</b></a>
  <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div id="navbarCollapse" class="collapse navbar-collapse justify-content-start">
    <div class="navbar-nav">

      <a [routerLink]="this.authService.getToken() ? '/welcome' : null"
         class="nav-item nav-link"
         [class.disabled]="this.authService.getToken() == null">
        Home
      </a>

      <a [routerLink]="this.authService.getToken() ? '/history' : null"
         class="nav-item nav-link"
         [class.disabled]="this.authService.getToken() == null">
        Mood History
      </a>

      <a routerLink="/about" class="nav-item nav-link">About Us</a>
    </div>
    <div class="navbar-nav ml-auto action-buttons">
      <div *ngIf="this.authService.getToken() == null; else elseBlock">
        <div class="nav-item d-flex">
          <a routerLink="header/login" class="nav-link mr-2">Login</a>
          <a routerLink="header/register" class="btn btn-primary sign-up-btn">Sign up</a>

        </div>
      </div>
      <ng-template #elseBlock>
        <div class="nav-item d-flex">
          <a routerLink="/welcome" (click)="logout()" class="btn btn-primary sign-up-btn mr-2">Logout</a>
          <div *ngIf="localStorage.user == 'admin'">
            <a routerLink="/admin" class="btn btn-primary sign-up-btn">Admin</a>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</nav>
</body>
</html>
