<div class="alert alert-danger" *ngIf="this.error==1">
  <strong>User authentication failed</strong>
</div>
<br><br><br><br>

<div class="container nt-4 h-100 d-flex align-items-center justify-content-center">
  <form>
    <div class="form-group">
      <label>Username</label>
      <input type="text" [(ngModel)]="user.username" class="form-control" name="username" placeholder="Enter Username">
    </div>

    <div class="form-group">
      <label>Password</label>
      <input type="password" [(ngModel)]="user.password" class="form-control" name="password" placeholder="Enter Password">
    </div>

    <button type="submit" class="btn btn-primary" (click)="onLoggedin()">Login</button>
  </form>
</div>
