
<div class ="alert alert-danger " *ngIf="isregistred==false" >
  <strong>User authentification failed</strong>
</div>
<br><br><br><br>
<div class="container nt-4 h-100 d-flex align-items-center justify-content-center">
  <form>
    <div class="form-group">
      <label >Name</label>
     <input type="email" class="form-control" [(ngModel)]="name" [ngModelOptions]="{standalone:true}" id="Name" placeholder="Enter Name">
    </div>


    <div class="form-group">
      <label >Password</label>
      <input  type="password" [(ngModel)]="password" [ngModelOptions]="{standalone:true}" class="form-control" placeholder="Enter Password">
    </div>

    <div class="form-group">
      <label >Confirm Password</label>
      <input  type="password" [(ngModel)]="confirm_password" [ngModelOptions]="{standalone:true}" class="form-control" placeholder="Enter Password">
    </div>



    <button type="submit" class="btn btn-primary" (click)="conf()" >Register</button>
  </form>
</div>


